// Component: cp-logo
// Description: Logo component for the site.
// Styles: /src/styles/components/cp-logo.scss

@use '../abstracts/mq' as *;
@use '../abstracts/sizes' as *;

.cp-logo {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	@include mq(tablet) {
		justify-content: flex-start;
	}
}
