// Component: cp-nav
// Description: Navigation component for the site.
// Styles: /src/styles/components/cp-nav.scss

@use '../abstracts/sizes' as *;
@use '../abstracts/mq' as *;

.cp-nav {
	display: flex;
	align-items: center;

	& ul {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: $size-2;
		width: 100%;

		@include mq(tablet) {
			flex-direction: row;
			padding: 0;
			justify-content: flex-end;
		}

		& li {
			list-style-type: none;
			margin: 0 0 $size-2 0;

			@include mq(tablet) {
				margin: 0 $size-2 0 0;
			}
		}
	}
}
