<!--
    Component: cp-navigation
    Description: Navigation component for the site.
    Styles: /src/styles/components/cp-navigation.scss
-->
<div class=" [ component cp-navigation-bar ] ">
    {# menu icon #}
    <button class="hamburger" aria-label="Toggle menu" aria-expanded="false">
        <img src="/assets/images/hamburger.svg" alt="" class="icon-hamburger">
        <img src="/assets/images/close.svg" alt="" class="icon-close">
    </button>

    {# logo #}
    <div class=" [ component cp-logo ] ">
        <a href="/">RNNBRWN</a>
    </div>

    {# nav #}
    <nav class=" [ component cp-nav ] ">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
</div>