<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web design and development by Ronnie Brown, Glasgow, Scotland">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
</head>
<body>
    {{ content | safe }}
    <script type="module" src="/assets/js/hamburger-menu.js"></script>
</body>
</html>