@use '../abstracts/colours' as *;
@use '../abstracts/mq' as *;

body {
	background-color: $color-white;
}

.component {
	& .container {
		width: 100%;
		max-width: $desktop-lg;
		margin: 0 auto;
	}
}
